.Collection {
  position: sticky;
  left: 0;
  bottom: var(--heightFooter);
  max-height: 15rem;
  color: var(--colorCollection);
  background-color: var(--bgCollection);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.15), 0 -8px 8px rgba(0, 0, 0, 0.075);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include min {
    max-height: 18rem;

    // 垂直分割表示は画面幅が広い時だけ適用させる
    .-vertical & {
      top: var(--heightHeader);
      right: 0;
      bottom: auto;
      left: auto;
      max-height: calc(100vh - var(--heightHeader) - var(--heightFooter));
    }
  }

  .__header {
    display: flex;
    padding: var(--space-sm);
    padding-bottom: 0;

    > * + * {
      margin-left: auto;
    }

    .__textCol {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      align-items: baseline;
    }

    .__heading {
      flex-grow: 1;
      margin: 0 var(--space-sm) var(--space-sm) 0;
      font-size: 1rem;
      line-height: 1.4;
    }

    .__desc {
      // @see - https://joren.co/flex-grow-9999-hack/
      flex-grow: 9999;
      margin: 0 var(--space-sm) var(--space-sm) 0;
      font-size: 0.875rem;
      line-height: 1.4;
    }

    .__actionCol {
      display: flex;
      flex-shrink: 0;

      > * + * {
        margin-left: var(--space-sm);
      }
    }

    .__button {
      @include collectionActionButton;
      &.-hideInTight {
        display: none;
        @include min {
          display: inline-flex;
        }
      }
    }
  }

  .__body {
    display: grid;
    grid-auto-flow: row;

    .-ll &,
    .-l & {
      gap: 8px;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      padding: 8px;
    }
    .-m & {
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
      padding: 5px;
    }
    .-s & {
      gap: 3px;
      grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
      padding: 3px;
    }

    .__name {
      display: none;
    }
  }
}
