.Collection {
  position: sticky;
  left: 0;
  bottom: 0;

  max-height: 15rem;
  color: var(--colorCollection);
  background-color: var(--bgCollection);
  box-shadow: 0 -2px 4px rgba(0,0,0, 0.15), 0 -8px 8px rgba(0,0,0, 0.075);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  @include min {
    max-height: 18rem;
  }

  .__header {
    padding: var(--space-md) var(--space-sm) var(--space-xs);

    @include min {
      display: flex;
      align-items: baseline;

      & > * + * {
        margin-left: var(--betweenHorizon);
      }
    }

    .__heading {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
    }

    .__desc {
      margin-top: var(--betweenVertical);
      margin-bottom: 0;
      font-size: 0.875rem;
    }
  }

  .__body {
    display: grid;
    grid-auto-flow: row;

    .-l & {
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
      padding: 10px;
    }
    .-m & {
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
      padding: 5px;
    }
    .-s & {
      gap: 3px;
      grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
      padding: 3px;
    }

    .__name {
      display: none;
    }
  }
}
