.Collection {
  position: sticky;
  left: 0;
  bottom: 0;

  padding: var(--space-md);
  color: var(--colorCollection);
  background-color: var(--bgCollection);
  box-shadow: 0 -2px 4px rgba(0,0,0, 0.15), 0 -8px 8px rgba(0,0,0, 0.075);

  .__header {
    display: flex;
    align-items: baseline;

    & > * + * {
      margin-left: var(--betweenHorizon);
    }
  }

  .__body {
    display: grid;
    grid-auto-flow: row;

    &.-l {
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
      padding: 10px;
    }
    &.-m {
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
      padding: 5px;
    }
    &.-s {
      gap: 3px;
      grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
      padding: 3px;
    }

    .__name {
      display: none;
    }
  }
}
