.Decomoji {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  background-color: var(--bgDecomoji);
  @include focusDecomoji;

  .-reacted .Main & {
    border-color: var(--borderDecomojiReacted);
    background-color: var(--bgDecomojiReacted);
  }

  .-reacted .Main &.-collected,
  .Main &.-collected {
    border-color: var(--borderDecomojiCollected);
    background-color: var(--bgDecomojiCollected);
  }

  .Collection & {
    background-color: var(--bgDecomojiCollected);
  }

  .-ll .Main & {
    padding: 10px;
    height: 129px;
  }
  .-ll .Collection & {
    padding: 8px;
    height: 80px;
  }
  .-l & {
    padding: 8px;
    height: 80px;
  }
  .-m & {
    padding: 5px;
    height: 45px;
  }
  .-s & {
    padding: 3px;
    height: 25px;
  }

  .__img {
    line-height: 1;
    vertical-align: top;

    .-l & {
      height: 64px;
      width: 64px;
    }
    .-m & {
      height: 32px;
      width: 32px;
    }
    .-s & {
      height: 16px;
      width: 16px;
    }
  }

  .__name {
    display: none;
    margin-top: var(--space-sm);
    color: var(--colorDecomoji);
    word-break: break-all;

    .-ll .Main & {
      display: block;
    }
  }
}
