.Detail {
  position: relative;

  .__summary {
    padding: var(--space-sm);
    border-radius: 0.375rem;
    @include focusHeader;
  }

  .__panel {
    position: absolute;
    margin-top: 4px;
    padding: var(--space-md);
    border-radius: 0.375rem;
    max-height: 50vh;
    background-color: var(--bgPanel);
    overflow-y: auto;

    &.-option {
      right: 0;
    }

    & > * + * {
      margin-top: var(--space-md);
    }
  }

  .__label {
    display: block;
    white-space: nowrap;
  }

  .__button {
    @extend %reset-Button;
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
    @include focusHeader;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--space-xs) / 2) var(--space-xs);
    border-radius: 0.375rem;
    &:disabled {
      color: rgba(255, 255, 255, 0.25);
    }
  }
}
