.Detail {
  position: relative;

  .__summary {
    padding: var(--space-sm);
    border-radius: 0.375rem;
    @include focusHeader;
  }

  .__panel {
    position: absolute;
    margin-top: 4px;
    padding: var(--space-md);
    border-radius: 0.375rem;
    background-color: var(--bgPanel);

    &.-option {
      right: 0;
    }

    & > * + * {
      margin-top: var(--space-md);
    }
  }

  .__label {
    display: block;
    white-space: nowrap;
  }
}