.Main {
  .-ll & {
    padding-bottom: 10px;
  }
  .-l & {
    padding-bottom: 8px;
  }
  .-m & {
    padding-bottom: 5px;
  }
  .-s & {
    padding-bottom: 3px;
  }

  .__decomojiRow {
    display: grid;
    grid-auto-flow: row;

    .-ll & {
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
      padding: 10px;
    }
    .-l & {
      gap: 8px;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      padding: 8px;
    }
    .-m & {
      gap: 5px;
      grid-template-columns: repeat(auto-fill, minmax(42px, 1fr));
      padding: 5px;
    }
    .-s & {
      gap: 3px;
      grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
      padding: 3px;
    }
  }
}
