:root {
  // Slack Aubergine テーマの紫
  --aubergine-800: #240726;
  --aubergine-900: #1f061f;
    // くすんだブルー
  --danube-200: #adbfca;
  --danube-600: #5c7280;
  // 黒そうで黒くない、少しだけ青い黒
  --night-800: #110f13;
  --night-900: #0e0d10;
  // Slack で自分がリアクションしたときの青
  --sea-200: #e6f3fa;
  --sea-500: #1d89c7;
  --sea-800: #135092;
  // 無彩色系
  --shade-100: #ffffff;
  --shade-200: #f4f4f4;
  --shade-400: #727272;
  --shade-500: #424242;
  --shade-700: #1a1c20;
  --shade-800: #15171a;
  --shade-900: #000000;

  --outline-white-05: 0 0 0 4px rgba(255,255,255, 0.5);

  // Spacing
  --space-xs: 0.5rem;
  --space-sm: 0.625rem;
  --space-md: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.5rem;
  --space-xxl: 1.75rem;

  // 中間ラベル
  --bgBody: var(--shade-200);
  --colorBody: var(--shade-800);
  --bgHeader: var(--aubergine-900);
  --colorHeader: var(--shade-200);

  --focusHeader: var(--outline-white-05);

  --paddingHeader: var(--space-sm);
  --betweenHeaderVertical: var(--space-sm);
  --betweenHeaderHorizon: 0;
}

@include min {
  :root {
    --paddingHeader: var(--space-md);
    --betweenHeaderVertical: 0;
    --betweenHeaderHorizon: var(--space-md);
  }
}

.-dark {
  --bgBody: var(--shade-800);
  --colorBody: var(--shade-200);
  --bgHeader: var(--night-200);
}