@import 'configs/mixins';
@import 'components/root';
@import '../../../node_modules/normalize.css/normalize.css';
@import 'components/VisuallyHidden';

*,::before,::after {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", serif;
}

body {
  color: var(--colorBody);
  background-color: var(--bgBody);
}