@mixin max($bp: 768px) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin min($bp: 769px) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin focusHeader {
  &:focus {
    outline: none;
    box-shadow: var(--focusHeader);
  }
}

@mixin focusDecomoji {
  &:focus {
    outline: none;
    box-shadow: var(--focusDecomoji);
  }
}

@mixin collectionActionButton {
  @extend %reset-Button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375rem;
  width: 2rem;
  height: 2rem;
  @include focusDecomoji;
}
